$black: #2d2d2d;
$white: #fff;
$text-muted: #797C8C;
$primary-color: #2563EB;
$text-color: #495057;
$font-family: "cerabrisans", sans-serif;
$tablet-width: 1024px;
$font-size-normal : 1.5rem;

$width-tablet: 768px;
$width-mobile: 300px;
$non-hover-primary-color: #2563EB